<div class="rect">
  <%= form_tag processed_data_path, :method => 'get' do %>
    Which data to represent, and how:
    <%= text_field_tag :status, params[:status], :placeholder => "(RawDatum.status)" %>
    <%= text_field_tag :mode, params[:mode], :placeholder => "scatter" %>
    <%= submit_tag "go" %>
  <% end %>
</div>
<br />
