<div id="chart" style="width:600px;height:400px;"></div>
<script src="js/flotr2.min.js"></script>

<% javascript_tag do %>

  window.onload = function () {

  var weekdays = [
    [0, "sunday"],
    [1, "monday"],
    [2, "tuesday"],
    [3, "wednesday"],
    [4, "thursday"],
    [5, "friday"],
    [6, "saturday"],
  ];

  var hour = [
    <% @raw.each do |raw| %>
    [<% if raw.status.chomp == "aufgewacht" %>
        <%= Time.parse(raw.timestamp).wday  %>,  //vielleicht braucht man
        <%= raw.timestamp[11,2] %>              // .to_json nicht
      <% end %>],
    <% end %>
  ];

  Flotr.draw(
      document.getElementById("chart")
      ,[
          { data: hour,  label: "hour", points: {show:true} },
      ]
      ,{
          title: "time woken up by weekday",
          // subtitle: "(by Country, 2010 OECD data)",
          xaxis: { min: 0, max: 6, tickDecimals: 0, ticks: weekdays },
          yaxis: {min: 0, max: 24, tickDecimals: 0, title: "hour"},
          //legend: {position: "ne"},
      }
  );

  };

<% end %>
