<h1>Listing processed_data</h1>

<table>
  <tr>
    <th>Period label</th>
    <th>Begin</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= processed_datum.period_label %></td>
      </tr>
<% end %>
</table>

<br />
