// currently, I implement sass by issuing the following command:
// ~/workspace-ruby/sleepdata/public/stylesheets$ sass --watch custom.css.sass:custom.css

// colors

$body_backg_c:  #eef
$nav_a_c:       black
$nav_ahover_c:  blue
$nav_backg_c:   #ffd
$rect_backg_c:  #289
$rect_c:        #fff

html
  width: 100%
  max-width: 900px

body
  width: 100%
  background-color: $body_backg_c
  margin: auto

/*header*/

#nav-custom
  height: 2em
  background-color: $nav_backg_c

#nav-custom li
  list-style-type: none
  display: inline-block
  height: 2em

#nav-custom li a
  text-decoration: none
  padding: 1em
  color: $nav_a_c
  font-size: 1.2em

#nav-custom li a:hover
  color: $nav_ahover_c

.clear
  float: clear
  height: 1px

//the form on /processed_data
.rect
  background-color: $rect_backg_c
  color: $rect_c
  padding: 0.5em
  margin: 0

table
  width: auto
