<div id="nav-custom">
  <nav class="round">
    <ul>
      <li><%= link_to "Processed Data", processed_data_path %></li>|
      <li><%= link_to "Raw Data", raw_data_path %></li>|
      <li><%= link_to "Holidays", holidays_path %></li>
    </ul>
  </nav>
</div>
<div class="clear"></div>
